/* .chrome_text {

  color: rgba(0, 189, 93, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(0, 189, 93, 0.38);
} */
@media (max-width: 767px) {
  * {
    font-family: kanit;
  }

  .hero {
    min-height: 100vh;
    margin: 100px !important;
  }
  .header2 {
    font-size: 150px;
    line-height: 120px;
    font-weight: bolder;
  }

  .insurance_body {
    margin-top: 10rem;
  }
  .image-section {
    display: flex;
    align-items: end;
  }

  .text_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    bottom: 10rem;
  }

  .multi-agency {
    font-weight: light;
    margin-bottom: -30px;
    font-size: 60px !important;
  }
  .leader {
    /* font-size: 5rem; */
    font-size: 120% !important;
    line-height: 60px;
    color: #037fc2;
    font-weight: bolder;
  }

  .section_two_top {
    font-size: 2.3rem;
  }

  .section_2div_right {
    font-size: 1.2rem;
  }

  .you_save {
    color: rgba(3, 127, 194, 1);
    /* color: rgba(0, 189, 93, 1); */
    text-transform: capitalize;

    /* font-size: large; */
  }

  .chrome_text {
    color: rgba(3, 127, 194, 1);
    /* font-size: ; */
  }

  .gap {
    height: 50px !important;
  }

  .formalities_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .formalities_banner_div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    margin-top: 20px;
  }

  .comprehensive {
    font-size: 1.5rem;
  }
  .formalities {
    font-size: 3rem;
    /* font-weight: 700; */
  }

  .we_do {
    font-size: 0.8rem;
    text-align: center;
  }

  .inner_formalities1,
  .inner_formalities2 {
    font-size: 1.2rem;
    display: flex;
    height: 18rem;
    border-radius: 50%;
    background-color: rgba(3, 127, 194, 0.9);
    width: 18rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;

    /* background: rgba(255, 255, 255, 0.12); */
    /* background: rgba(3, 127, 194, 0.2); */

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
  }

  .second_banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    /* background-color: red; */
    /* z-index: 3; */
    text-align: center;
    /* background-color: red; */
  }

  ._low_price {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  ._insurance {
    font-size: 2.1rem;
    font-weight: bold;
  }

  .background_ball {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 189, 93, 0.01);
    width: 25em;
    height: 25em;
    flex-direction: column;
    transition: all 0.035s ease-in-out;
    position: relative;
    top: -10rem;
  }

  .another_div {
    display: flex;
    width: 100%;
    position: relative;
    /* z-index: 500; */
    top: -4rem;
    flex-direction: column;
    /* padding: 5rem; */
    align-items: center;
    row-gap: 50px;
  }

  .top_div,
  .bottom_div {
    display: flex;
    flex-direction: column;
    /* height: 15rem; */
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    position: relative;
    /* z-index: 3; */
  }

  .why_us {
    width: 90% !important;
    text-align: center !important;
    background: none !important;
    /* font-size: 2rem !important; */
    min-height: 80px !important;
    box-shadow: none !important;
  }

  .left_,
  .right_ {
    display: flex;
    width: 90%;
    min-height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 15px;
    background: rgba(255, 255, 255, 0.12);
    background: rgba(3, 127, 194, 0.2);
    /* background: rgba(0, 189, 93, 0.2); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
  }

  .shift_sync {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 20rem;
  }

  .shift_sync * {
    margin-top: 30px;
  }

  .grayscale_shadow {
    filter: drop-shadow(2px 28px 33px #000) grayscale(68%);
  }

  .those_container {
    display: flex;
    justify-content: center;
  }

  .those {
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 2rem;
    position: relative;
    z-index: inherit;
    font-weight: bold;
  }

  .grid {
    display: flex;
    flex-direction: row;
    width: 300vw;
    /* height: 200px; */
    overflow: hidden;
    justify-content: space-evenly;
  }

  .grid-item {
    /* background-color: #f2f2f2; */
    padding: 10px;
    text-align: center;
    position: relative;
    width: 500px;

    display: inline-block;
    white-space: nowrap;
    animation: ticker 8s linear infinite;
  }

  .partner_image {
    width: 200px;
    /* height: 200px; */
  }

  .grid-item:hover {
    background: rgba(255, 255, 255, 0.2);
    /* background: rgba(0, 189, 93, 1); */
    box-shadow: 0 4px 30px rgba(93, 90, 90, 0.4);
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
    /* border-radius: 0px 50% 50% 50%; */
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* border-bottom: 3px solid rgba(0, 189, 93, 1); */
    border-bottom: 3px solid rgba(3, 127, 194, 1);

    z-index: 4;
  }
}

/* wide screen -----------------------------------🔥🔥🔥- */
@media (min-width: 1024px) {
  * {
    font-family: kanit;
  }

  .hero {
    min-height: 100vh;
    margin: 100px !important;
    height: 100vh !important;
    scroll-snap-align: center !important;
    padding-top: 50px;
    overflow-y: hidden;
  }
  .header2 {
    font-size: 125px;
    line-height: 120px;
    font-weight: bolder;
  }

  .correct-insurance {
    top: -400px;
  }
  .absolute_logo {
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    justify-content: center;
    top: 9%;
    margin-bottom: 20px;
  }
  .s_container {
    height: 100vh !important;
    width: 100%;
    /* scroll-padding: 0 0 50% 0;  */
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    position: relative;
    overflow-y: scroll;
  }
  .s_container .panel {
    scroll-snap-align: start !important;
    height: 100vh;
  }

  .image-section {
    display: flex;
    align-items: end;
    height: 100vh; /* Set the height of each panel to 100vh */
    width: 100%;
    /* scroll-snap-align: center; */
  }

  .text_container {
    position: relative;
    bottom: 9rem;
    /* margin-bottom: 9rem; */
    padding: 20px;
  }

  .multi-agency,
  .leader {
    /* font-family: 'Lilita One', cursive;
font-family: 'Montaga', serif; */
    /* font-family: "Orbitron", sans-serif; */
    /* font-family: "Rowdies", cursive; */
    /* font-family: 'Secular One', sans-serif; */
    text-transform: capitalize;
    font-size: 6rem !important;
    text-align: center;
  }

  .multi-agency {
    position: relative;
    bottom: -4rem;
  }
  .leader,
  .superfast {
    font-weight: bolder;
    color: rgba(3, 127, 194, 1);
    /* color: rgba(0, 189, 93, 1); */
    text-transform: capitalize;
  }

  .section_2div_right,
  .text {
    /* font-family: "Orbitron", sans-serif; */
    font-size: large;
  }

  .section_2div_right {
    height: fit-content;
  }

  .ma {
    margin-bottom: 2rem;
  }

  .you_save {
    color: rgba(3, 127, 194, 1);
    /* color: rgba(0, 189, 93, 1); */
    text-transform: capitalize;
    /* font-family: "Orbitron", sans-serif; */
    font-size: large;
  }

  .chrome_text {
    color: rgba(3, 127, 194, 1);
    /* font-size: ; */
  }

  .formalities_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* min-height: 120vh; */
  }

  .formalities_banner_div {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    position: relative;
  }

  .dix {
    font-size: small;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    /* font-family: "Rowdies", sans-serif; */
    /* font-weight: bold; */
  }

  .inner_formalities1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(3, 127, 194, 0.91);
    /* background-color: rgba(0, 189, 93, 0.91); */
    width: 12rem;
    color: black;
    height: 12rem;

    transform: translateX(3rem);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .rounded_formalities:hover {
    border: 1px solid rgba(3, 127, 194, 0.91);
    /* border: 1px solid rgba(0, 189, 93, 0.91); */
    transition: all 0.035s ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .to_hover {
    transition: all 0.35s ease-in-out;
    position: relative;
    z-index: 2;
  }

  .to_hover:hover {
    background-color: azure !important;
    transition: all 0.135s ease-in;
  }

  .inner_formalities2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(3, 127, 194, 0.91);
    /* background-color: rgba(0, 189, 93, 0.91); */
    width: 12rem;
    color: black;
    height: 12rem;
    transform: translateX(-3rem);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .formalities_banner {
    height: 10rem;
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    /* background: rgba(255, 255, 255, 0.12);
  background: rgba(0, 189, 93, 0.08); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  }

  .comprehensive,
  .formalities,
  .we_do {
    text-transform: capitalize;
  }

  .comprehensive {
    font-size: 1.8rem;
    margin-bottom: -30px;
  }

  .formalities {
    font-size: larger;
    font-weight: bold;
  }
  .we_do {
    font-size: 1rem;
    margin-top: -20px;
  }
  .threed_scene {
    position: absolute;
    z-index: 90000;
  }

  .rounded_formalities {
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  }

  .footer_div {
    position: relative;
    bottom: 0;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* top: 100vh; */
  }
  .footer_inner_container {
    position: relative;
    bottom: 0;
    /* height: 100vh; */
  }

  .insurance_body {
    display: flex;
    flex-direction: column;
    /* font-family: "Orbitron", sans-serif; */
    color: white;
    position: relative;
    /* z-index: 3; */
  }

  .second_banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    /* background-color: red; */
    z-index: 3;
    text-align: center;
    /* background-color: red; */
  }

  ._low_price {
    margin-top: 9rem;
    font-size: 1.8rem;
    color: white;
  }

  ._insurance {
    margin-top: -11rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .background_ball {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 189, 93, 0.01);
    width: 25em;

    height: 25em;

    flex-direction: column;
    /* transform: translateX(3rem); */

    transition: all 0.035s ease-in-out;

    position: relative;
    top: -10rem;
  }

  .another_div {
    display: flex;
    width: 100%;
    position: relative;

    z-index: 500;
    top: -4rem;
    flex-direction: column;
    padding: 5rem;
    row-gap: 10rem;
  }

  .top_div,
  .bottom_div {
    display: flex;
    height: 15rem;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
  }

  .left_,
  .right_ {
    display: flex;
    height: 23rem;
    width: 23rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
    /* background-color: red; */
    /* color: white; */
    background: rgba(255, 255, 255, 0.12);
    background: rgba(3, 127, 194, 0.2) !important;
    /* background: rgba(0, 189, 93, 0.2); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  }

  .containn {
    background: rgba(255, 255, 255, 0.12) !important;
    background: rgba(3, 127, 194, 0.2) !important;
    /* background: rgba(0, 189, 93, 0.2) !important; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
  }

  .left_:hover,
  .right_:hover {
    /* background: rgba(0, 189, 93, 3); */
    background: rgba(3, 127, 194, 1);
  }

  .arc_container {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .top_arc {
    display: flex;
    justify-self: center;
    /* background-color: red; */
    width: 40rem;
    height: 33rem;
    position: absolute;
    z-index: 4;
    border-radius: 100% 100% 0 0;
    border-top: 2px solid rgba(3, 127, 194, 1);
  }

  .top_arc:hover {
    border-top: 2px solid rgb(255, 255, 255);
  }

  .partners {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 4;
    /* height: 30rem; */
    position: relative;
    align-items: center;
    /* background-color: #f2f2f2; */
  }

  .partners_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  /* .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: auto;
    position: relative;
    place-items: center;
  } */

  .grid {
    display: flex;
    flex-direction: row;
    width: 200vw;
    height: 200px;
    overflow: hidden;
    justify-content: space-evenly;
  }

  .grid-item {
    /* background-color: #f2f2f2; */
    padding: 10px;
    text-align: center;
    position: relative;
    width: 500px;
    display: inline-block;
    white-space: nowrap;
    animation: ticker 8s linear infinite;
  }

  .grids-item {
    min-height: 300px;
    font-size: 150% !important;
  }

  .partner_image {
    width: 500px;
  }

  .grid-item:hover {
    background: rgba(255, 255, 255, 0.2);
    /* background: rgba(0, 189, 93, 1); */
    box-shadow: 0 4px 30px rgba(93, 90, 90, 0.4);
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
    /* border-radius: 0px 50% 50% 50%; */
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* border-bottom: 3px solid rgba(0, 189, 93, 1); */
    border-bottom: 3px solid rgba(3, 127, 194, 1);

    z-index: 4;
  }

  .those {
    font-weight: bold;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    /* border-top: 3px solid rgba(0, 189, 93, 1); */
    border-top: 3px solid rgba(3, 127, 194, 1);
    border-radius: 60% 60% 0 0;
  }

  .those:hover {
    border-top: 3px solid rgb(255, 255, 255);
  }

  .off {
    display: none;
  }

  .shift_sync {
    align-self: center;
    justify-self: center;
    display: flex;
  }

  .grayscale_shadow {
    filter: drop-shadow(-2px 67px 17px #000) grayscale(68%);
  }
  .grayscale_shadow:hover {
    filter: grayscale(9%) drop-shadow(-2px 67px 17px #000);
  }

  .dhouse {
    width: 25rem;
    margin-top: 18rem;
    position: relative;
  }

  .flag_right {
    width: 50rem;
  }

  .office_image {
    min-width: 100vw;
    filter: drop-shadow(2px 28px 33px #000) grayscale(68%);
  }

  .office_image:hover {
    filter: drop-shadow(2px 28px 33px #000) grayscale(0%);
  }

  .aarc {
    border: none;
  }
  .aarc:hover {
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    min-height: 100vh;
    margin: 100px !important;
  }
  .header2 {
    font-size: 120px;
    line-height: 100px;
    font-weight: bolder;
  }

  ._insurance {
    margin-top: -11rem;
    font-size: 3rem;
    line-height: 50px;
    font-weight: bold;
    margin-left: 400px;
  }

  ._low_price {
    margin-top: 9rem;
    font-size: 1.8rem;
    color: white;
    margin-left: 400px;
  }

  .background_ball {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 189, 93, 0.01);
    width: 25em;

    height: 25em;

    flex-direction: column;
    /* transform: translateX(3rem); */

    transition: all 0.035s ease-in-out;

    position: relative;
    top: -10rem;
  }

  .another_div {
    display: flex;
    width: 100%;
    position: relative;

    z-index: 500;
    top: -4rem;
    flex-direction: column;
    padding: 5rem;
    row-gap: 10rem;
  }

  .top_div,
  .bottom_div {
    display: flex;
    height: 15rem;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
  }

  .left_,
  .right_ {
    display: flex;
    height: 23rem;
    width: 23rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
    /* background-color: red; */
    /* color: white; */
    background: rgba(255, 255, 255, 0.12);
    background: rgba(3, 127, 194, 0.2);
    /* background: rgba(0, 189, 93, 0.2); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
  }

  .containn {
    background: rgba(255, 255, 255, 0.12) !important;
    background: rgba(3, 127, 194, 0.2) !important;
    /* background: rgba(0, 189, 93, 0.2) !important; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
  }

  .left_:hover,
  .right_:hover {
    /* background: rgba(0, 189, 93, 3); */
    background: rgba(3, 127, 194, 1);
  }

  .arc_container {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .top_arc {
    display: flex;
    justify-self: center;
    /* background-color: red; */
    width: 40rem;
    height: 33rem;
    position: absolute;
    z-index: 4;
    border-radius: 100% 100% 0 0;
    border-top: 2px solid rgba(3, 127, 194, 1);
  }

  .top_arc:hover {
    border-top: 2px solid rgb(255, 255, 255);
  }

  .multi-agency {
    font-size: 120%;
  }

  .leader {
    font-size: 250%;
  }

  .formalities_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .formalities_banner_div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    margin-top: 20px;
  }

  .comprehensive {
    font-size: 1.5rem;
  }
  .formalities {
    font-size: 3rem;
    /* font-weight: 700; */
  }

  .we_do {
    font-size: 0.8rem;
    text-align: center;
  }

  .inner_formalities1,
  .inner_formalities2 {
    font-size: 1.2rem;
    display: flex;
    height: 18rem;
    border-radius: 50%;
    background-color: rgba(3, 127, 194, 0.9);
    width: 18rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;

    /* background: rgba(255, 255, 255, 0.12); */
    /* background: rgba(3, 127, 194, 0.2); */

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 4;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
