@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

:root {
  font-family: "Montaga", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* background-color: #1e1e1e; */
  /* background-color: #c9e6f9; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

body {
  font-family: "Montaga", serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
